.hero {
  margin-top: -96px;

  @include tablet {
    margin-top: -72px;
  }

  @include small-mobile {
    margin-top: -24px;
  }

  // .hero__inner

  &__inner {}

  // .hero__slider

  &__slider {
    position: relative;
    height: 700px;

    @include tablet {
      height: 600px;
    }
  }

  // .hero__slider-wrapper

  &__slider-wrapper {}

  // .hero__slide

  &__slide {
    display: flex;
    align-items: center;

    @include small-mobile {
      align-items: flex-start;
    }
  }

  // .hero__slide-picture

  &__slide-picture {}

  // .hero__slide-pic

  &__slide-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }

  // .hero__slide-content

  &__slide-content {
    padding: 40px 0;
  }

  // .hero__slide-title

  &__slide-title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 56px;
    color: var(--white-color);

    @include tablet {
      font-size: 46px;
    }

    @include mobile {
      font-size: 40px;
    }

    @include small-mobile {
      font-size: 24px;
    }
  }

  // .hero__slide-firm

  &__slide-firm {
    margin-bottom: 34px;
    font-weight: 700;
    font-size: 17px;
    line-height: 180%;
    color: var(--white-color);

    @include small-mobile {
      margin-bottom: 24px;
      font-size: 16px;
    }
  }

  // .hero__slide-link

  &__slide-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 24px 30px;
    width: fit-content;
    min-width: 250px;
    background-color: var(--primary-color);

    font-size: 16px;
    font-weight: 700;
    color: var(--white-color);
    transition: background-color 0.2s ease-in;


    @media (hover:hover) {
      &:hover {
        background-color: var(--primary-color-2);

        svg {
          transform: translateX(5px);
        }
      }
    }

    @include small-mobile {
      width: 100%;
    }
  }

  // .hero__slider-controls

  &__slider-controls {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: flex-end;
    max-width: 1320px;
    padding: 0 20px;
    margin: -120px auto 0;

    @include small-mobile {
      margin: -80px auto 0;
    }
  }

  // .hero__slider-btn

  &__slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--text-color);
      stroke: var(--text-color);
    }

    &.swiper-button-disabled {
      background-color: var(--text-color);

      svg {
        fill: var(--white-color);
        stroke: var(--white-color);
      }
    }
  }

  // .hero__slider-btn--prev

  &__slider-btn--prev {}

  // .hero__slider-btn--next

  &__slider-btn--next {}
}

.subhero {
  background-color: var(--lite-color);
  padding: 40px 0;

  @include tablet {
    padding: 20px 0;
  }

  // .subhero__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
      column-gap: 24px;
    }

    @include small-mobile {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }
  }

  // .subhero__item

  &__item {
    padding: 20px 0;
    font-weight: 400;
    font-size: 12px;
    color: var(--text-color);

    a {
      color: var(--text-color);
    }

    @include tablet {
      padding: 10px 0;
    }
  }
}