.search-page {
  @include small-mobile {
    margin: 40px 0;
  }

  // .search-page__inner

  &__inner {}

  // .search-page__form

  &__form {
    display: flex;
    align-items: center;
    column-gap: 4px;

    @include small-mobile {
      flex-direction: column;
      row-gap: 24px;
    }
  }

  // .search-page__search

  &__search {
    position: relative;
    flex: 1 1 auto;

    @media (hover:hover) {
      &:hover {
        .icon--search-page-search {
          fill: var(--primary-color-2);
          stroke: var(--primary-color-2);
        }

      }
    }
  }

  // .search-page__search-input

  &__search-input {
    width: 100%;
    padding: 16px 60px;
    border-bottom: 1px solid var(--primary-color);
    height: 54px;

    font-size: 24px;
    color: var(--text-color);

    &::placeholder {
      font-family: var(--font-main);
      font-size: 24px;
      color: var(--grey-color);
    }

    @media (hover:hover) {
      &:hover {
        border-color: var(--primary-color-2);
      }
    }
  }

  // .search-page__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 240px;
    background-color: var(--primary-color);
    padding: 8px;
    height: 54px;
    transition: all 0.2s ease-in;

    color: var(--white-color);
    font-size: 24px;

    @media (hover:hover) {
      &:hover {
        background-color: var(--primary-color-2);
      }
    }

    @include small-mobile {
      flex: 0 1 auto;
      width: 100%;
    }
  }
}

.icon--search-page-search {
  position: absolute;
  left: 0;
  top: 0;

  width: 48px;
  height: 48px;
  fill: var(--primary-color);
  stroke: var(--primary-color);
  transition: all 0.2s ease-in;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}