.section-head {
  margin-bottom: 96px;

  @include tablet {
    margin-bottom: 72px;
  }

  @include small-mobile {
    margin-bottom: 24px;
  }
}

.main-wrapper {
  padding: 96px 0;

  @include tablet {
    padding: 72px 0;
  }


  @include small-mobile {
    padding: 24px 0;
  }
}